@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans KR", sans-serif;
  margin: 20px;
}

h1 {
  font-weight: bolder;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url('../app/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input, button {
  border: 1px solid #000;  /* 검은색 1px 테두리 */
  padding: 8px;            /* 여백 추가 */
  border-radius: 4px;       /* 모서리 둥글게 */
  margin: 5px;
}

